<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Quần Thể Thao|100+ mẫu quần thể thao đẹp cho nam</title>
	<link rel="icon" href="https://canifa.com/skin/frontend/base/default/favicon.ico">
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{css/canifa.css}">


</head>
<body>
<div class="wrapper">
	<header>
		<div class="row top-header">

			<div class="col-md-6">
				<div class="top-left-header">
					<span class="glyphicons glyphicons-truck"></span>
					<a href="">Miễn phí vận chuyển cho hóa đơn từ 499.000Đ</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="top-right-header clearfix">
					<div class="top-right-header-text" id="tai-khoan">
						<a href="">
							Tài khoản
						</a>
					</div>
					<div class="top-right-header-text" >
						<a href="" id="ho-tro" >
							Hỗ trợ
						</a>
					</div>
					<div class="top-right-header-text" >
						<a href="" id="tuyen-dung">
							Tuyển dụng
						</a>
					</div>
					<div class="top-right-header-text" >
						<a href="" id="kh-thanthiet">
							KH thân thiết
						</a>
					</div>
					<div class="top-right-header-text" >
						<a href="" id="cua-hang">
							Cửa hàng
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row bottom-header">
			<div class="col-md-8">
				<div class="menu-hr">
					<div class="menu-hr-inner">
						<ul>
							<li class="menu-hr-item" id="canifa-menu"><a th:href="@{/}"><img th:src="${vm.getLogoVM().getLogoUrl()}"
																							 th:alt="${vm.getLogoVM().getLogoAlt()}"></a></li>
							<th:block th:each="menuItem:${vm.getListHrMenuItemsVM()}">
								<li class="menu-hr-item"><a th:href="${menuItem.getLink()}"
															th:text="${menuItem.getText()}"></a>
									<ul class="dropdown">
										<div class="row" >
											<div class="dropdown-inner" th:each="child:${menuItem.getChild()}" >
												<li class="" th:classappend="${child.getChild().size()==0}?col-md-12:col-md-4"><a th:href="${child.getLink()}" th:text="${child.getText()}"></a>
													<ul>
														<div class="col-md-6 dropdown-inner-content" th:each="children:${child.getChild()}" >
															<li class="nav-item">
																<a class="nav-link" th:href="${children.getLink()}" th:text="${children.getText()}"></a>
															</li>
														</div>

													</ul>
												</li>
											</div>
										</div>
									</ul>

								</li>
							</th:block>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="menu-search">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Tìm kiếm" id="input-search">
						</div>
						<button type="submit" class="btn btn-default" id="btn-search">0</button>
					</form>
				</div>
			</div>
		</div>
		<div class="discount">
			<div class="discount-inner">
				<div class="discount-text">
					<p>GIẢM GIÁ HÀNG NGÀN SẢN PHẨM LÊN TỚI 50%</p>
				</div>
				<div class="discount-btn">
					<button>MUA NGAY</button>
				</div>
			</div>
		</div>
		<ol class="breadcrumb" id="breadcrumb-id">
			<li><a href="#">Trang chủ</a></li>
			<li><a href="#">Nam</a></li>
			<li><a href="#">Danh mục sản phẩm</a></li>
			<li class="active">Trang phục luyện tập</li>
		</ol>
	</header>

	<section>
		<div class="row">
			<div class="col-md-2">
				<div class="menu-vt">
					<div class="menu-vt-inner">
						<div class="menu-vt-inner-title">
							<a href="">Nam</a>
						</div>
						<ul>
							<div class="row" th:each="menuItem:${vm.getListHrMenuItemsVM().get(0)}">
								<div class="menu-vt-inner-content" th:each="child:${menuItem.getChild()}">
									<li class="menu-vt-inner-content-li"><a th:href="${child.getLink()}" th:text="${child.getText()}"></a>
										<ul>
											<div class="menu-vt-inner-content-child" th:each="children:${child.getChild()}">
												<li class="nav-item">
													<a class="nav-link" th:href="${children.getLink()}" th:text="${children.getText()}"></a>
												</li>
											</div>

										</ul>
									</li>
								</div>
							</div>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-md-10">
				<div class="section-content">
					<div class="section-title">
						<p>TRANG PHỤC LUYỆN TẬP</p>
					</div>
					<div class="banner" th:each="banner:${vm.getListBannerVM()}">
						<div class="panel-body">
							<a href=""><img th:src="${banner.getLink()}" th:alt="${banner.getAltText()}"></a>
						</div>
					</div>
				</div>

				<div class="section-product">

					<div class="row">
						<div class="col-xs-6 col-md-3" th:each="product:${vm.getListProductLuyentapVM()}">
							<a href="#" class="thumbnail">
								<img th:src="${product.getImage()}" alt="...">
							</a>
							<div class="product-name-price">
								<div class="product-name" th:text="${product.getName()}">
								</div>
								<div class="product-price" th:text="${product.getPrice()}">
								</div>
							</div>
						</div>
					</div>
					<div class="banner" th:each="banner:${vm.getListBannerVM()}">
						<div class="panel-body">
							<a href=""><img th:src="${banner.getLink()}" th:alt="${banner.getAltText()}"></a>
						</div>
					</div>
					<div class="section-product">
						<div class="row">
							<div class="col-xs-6 col-md-3" th:each="product:${vm.getListProductAoKhoacVM()}">
								<a href="#" class="thumbnail">
									<img th:src="${product.getImage()}" alt="...">
								</a>
								<div class="product-name-price">
									<div class="product-name" th:text="${product.getName()}">
									</div>
									<div class="product-price" th:text="${product.getPrice()}">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="banner" th:each="banner:${vm.getListBannerVM()}">
						<div class="panel-body">
							<a href=""><img th:src="${banner.getLink()}" th:alt="${banner.getAltText()}"></a>
						</div>
					</div>
					<div class="section-product">
						<div class="row">
							<div class="col-xs-6 col-md-3" th:each="product:${vm.getListProductAoPhongVM()}">
								<a href="#" class="thumbnail">
									<img th:src="${product.getImage()}" alt="...">
								</a>
								<div class="product-name-price">
									<div class="product-name" th:text="${product.getName()}">
									</div>
									<div class="product-price" th:text="${product.getPrice()}">
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

	</section>

	<footer>
		<div class="top-footer">
			<div class="top-footer-inner">
				<div class="row">
					<div class="col-xs-6 col-md-3">
						<div class="top-footer-list">
							<ul>
								<li class="top-footer-list-li" id="tim-kiem-footer"><a href="">TÌM KIẾM CỬA HÀNG</a></li>
								<li class="top-footer-list-li" id="tuyen-dung-footer"><a href="">TUYỂN DỤNG</a></li>
								<li class="top-footer-list-li" id="blog-footer"><a href="">BLOG - CHUYỂN ĐỘNG CANIFA</a></li>
								<li class="top-footer-list-li" id="khaosat-footer"><a href="">KHẢO SÁT Ý KIẾN KHÁCH HÀNG</a></li>
								<li class="top-footer-list-li" id="dieukhoan-footer"><a href="">ĐIỀU KHOẢN&ĐIỀU KIỆN GIAO DỊCH</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="top-footer-list">
							<ul class="top-footer-list-ul"><p>Thương Hiệu</p>
								<li class="top-footer-list-item"><a href="">Giới thiệu</a></li>
								<li class="top-footer-list-item"><a href="">Blog</a></li>
								<li class="top-footer-list-item"><a href="">Tuyển dụng</a></li>
								<li class="top-footer-list-item"><a href="">Với cộng đồng</a></li>
								<li class="top-footer-list-item"><a href="">Hệ thống cửa hàng</a></li>
								<li class="top-footer-list-item"><a href="">Liên Hệ</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="top-footer-list">
							<ul class="top-footer-list-ul"><p>Hỗ trơ</p>
								<li class="top-footer-list-item"><a href="">FAQs-Hỏi đáp</a></li>
								<li class="top-footer-list-item"><a href="">Chính sách vận chuyển</a></li>
								<li class="top-footer-list-item"><a href="">Hướng dẫn chọn kích cỡ</a></li>
								<li class="top-footer-list-item"><a href="">Kiểm tra đơn hàng</a></li>
								<li class="top-footer-list-item"><a href="">Qui định đổi hàng</a></li>
								<li class="top-footer-list-item"><a href="">Yêu cầu đổi trả</a></li>
								<li class="top-footer-list-item"><a href="">Tra cứu điểm thẻ</a></li>
								<li class="top-footer-list-item"><a href="">Chính sách KH thân thiết</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="top-footer-list">
							<div class="top-footer-list-ul">
								<p>Đăng kí nhận tin</p>
								<form class="navbar-form navbar" role="search">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
									<button type="submit" class="btn btn-default">Gửi</button>
								</form>
								<p>Kết nối</p>
								<a class="btn btn-social-icon btn-facebook">
									<span class="fa fa-facebook"></span>
								</a>
								<a class="btn btn-social-icon btn-instagram">
									<span class="fa fa-instagram"></span>
								</a>
								<a class="btn btn-social-icon btn-youtube">
									<span class="fa fa-youtube"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

<script type="text/javascript" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>